<header
  style="height: 60px"
  class="text-dark px-2 card d-flex flex-row justify-content-between fixed-top shadow"
>
  <!-- <a rout></a> -->
  <div style="display: flex; justify-content: start">
    <i
      id="header-menu"
      pButton
      (click)="toggleMenu.emit()"
      style="font-size: xx-large"
      class="bi bi-list text-dark bg-white border-0"
    ></i>
    <div style="flex: 1">
      <img
        [src]="companyLogoUrl"
        alt="Company Logo"
        class="mx-auto w-auto"
        style="height: auto; max-height: 100%; object-fit: contain"
      />
    </div>
  </div>
  <h3 class="p-3 text-center"></h3>
</header>
