<p-dialog
  [modal]="true"
  [visible]="visible"
  (visibleChange)="hideDialog()"
  [style]="style"
  [header]="header"
>
  <ng-template pTemplate="content">
    <ng-content></ng-content>
  </ng-template>

  <ng-template pTemplate="footer">
    <div *ngIf="!noFooter">
      <button
        type="button"
        pButton
        pRipple
        [label]="'Cancel'"
        icon="bi bi-times"
        class="p-button-text"
        (click)="hideDialog()"
        [disabled]="loading"
      ></button>
      <button
        type="submit"
        pButton
        pRipple
        [label]="'Save'"
        icon="bi bi-check"
        class="p-button-text"
        [loading]="loading"
        [disabled]="noChange"
      ></button>
      <br />
      <small *ngIf="noChange" class="text-danger" style="font-size: smaller"
        >No Changes</small
      >
    </div>
  </ng-template>
</p-dialog>
